<%- model_class = Email -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:reference_id) %></th> 
      <th>Voted</th>      

    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.id %></td>
        <td>
          <%= link_to email_path(email), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
          <%= email.reference_id %></td>
          <%- end -%> 
          
          <td>
            <% if current_user.voted_for? email %>
                <%= image_tag "tick.png", size: "20x20", alt: "attachment" %>

            <%- end -%>
          </td>        


      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @posts %>

<br />
<div class="label label-default">Progress</div>
<div class="bs-example">
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: <%= (current_user.votes.count.to_f / Email.count) * 100%>%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
</div>