<%- model_class = Email -%>
<!-- <div class="page-header">
  <h3><%=t '.title', :default => Email %></h3>
</div> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:reference_id) %></th> 
      <th>Voted</th>      
      <th><%= model_class.human_attribute_name(:category) %></th>      
    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.id %></td>
        <td>
          <%= link_to email_path(email), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
          <%= email.reference_id %></td>              
          <%- end -%> 
          
          <td>
          
          </td>        

        <td><%= email.category %></td>        
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @posts %>