<%- model_class = Email -%>




<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="<%= emails_path %>">
    <%= image_tag "umdlogo.jpeg", width:"30%", height: "30%" %></a></li></a></li>
  <li>


  </li>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  </ul>
</ul>

<table class="table table-striped">
  <thead>
    <tr class="general-content">
      <!--<th>ID</th>-->
      <!--<th><%= model_class.human_attribute_name(:reference_id) %></th>-->
      <th>Email Reference Identifier</th>
      <th>Subject</th>
      <th>Decision</th>
      <!--<th>status</th>-->

    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr class="general-content">
            <!--<td><%= email.id %> </td>-->

            <% subject = email.subject.length > 81 ? "#{email.subject[0..80].downcase}..." : email.subject.downcase %>

            <td>
              <%= link_to email_path(email), :class => 'btn', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                <%= email.reference_id.sub(".txt","") %>

              <%- end -%>
            </td>
            <td>
              <%= link_to email_path(email), :class => 'btn', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= subject %>
              <%- end -%>
            </td>

          
          <td>
            <% if  get_vote_status(current_user, email) == "privilege" %>
                <%= image_tag "tick.jpeg", size: "20x20", alt: "attachment" %>
            <% elsif  get_vote_status(current_user, email) == "notprivilege" %>
                <%= image_tag "cross.png", size: "20x20", alt: "attachment" %>
            <% elsif  get_vote_status(current_user, email) == "dontknow" %>
                <%= image_tag "unknown.jpeg", size: "20x20", alt: "attachment" %>

            <%- end -%>
          </td>




      </tr>
    <% end %>
  </tbody>
</table>


    <%= will_paginate @emails %>