<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @email.reference_id %>
</p>

<p>
  <strong>Path:</strong>
  <%= @email.path %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
