<%- model_class = Email -%>


<ul class="nav nav-tabs">
  <li role="presentation"><a href="<%= emails_path %>">Home</a></li>
  <li role="presentation" class="active"><a href="#"> <%= @email.reference_id %>  </a></li>


  <div class="btn-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <!--<button type="button" class="btn btn-default">Left</button>-->
      <% if current_user.voted_up_on? @email %>
        <%= button_to " Priviledged ", like_email_path(@email), :class => "btn btn-danger"%>
      <% else %>
          <%= button_to " Priviledged ", like_email_path(@email), :class => "btn btn-default"%>
      <% end %>
    </div>
    <div class="btn-group" role="group">

      <% if current_user.voted_down_on? @email %>
          <%= button_to " Not Priviledged ", dislike_email_path(@email), :class => "btn btn-success "%>
      <% else %>
          <%= button_to " Not Priviledged ", dislike_email_path(@email), :class => "btn btn-default "%>
      <% end %>


    </div>
  </div>

</ul>


<div class="container">
  <div class="row">
    <div >
        <div class="fieldset">
            <div class="email-text">
                <%=  readfile.html_safe %>
            </div>
        </div>
    </div>


        <div class='row-fluid'>
            <div class="col-md-10 panel" id="graphContainer" data-series="<%= gethistory %>" data-dt="" style="min-width: 310px; height: 300px; margin: 0 auto" >
            </div>
          <div class="col-md-2 panel">
            <table>
              <% if @email.attachments.count > 0 %>
                  <% counter = 1 %>
                  <% @email.attachments.each do |attachment| %>
                      <tr><td>
                        <%= image_tag "attachment.png", size: "20x20", alt: "attachment" %>
                        <%= link_to attachment_path(attachment), :class => 'btn btn-default' do %>
                            <%= "Attachment-#{counter}" %>
                            <% counter = counter+1 %>
                        <%- end -%>
                      </td>
                      </tr>
                  <% end %>
              <% end %>
            </table>
          </div>
        </div>


  </div>

</div>









