<%- model_class = Email -%>
<!-- <div class="page-header">
  <h5><%=t '.title', :default => Email %></h5>
</div> -->

<table>
<tr><td>
    <%= button_to " Priviledged ", like_email_path(@email), :class => "btn btn-info"%> 
</td>
<td colspan=2></td>
<td>
    <%= button_to " Not Priviledged ", dislike_email_path(@email), :class => "btn btn-info "%>  
</td>
<td colspan=10></td>
<td>
    <%= button_to " Show Attachements ", :class => "btn btn-info "%>  
</td>
</tr>
</table>

<table>
  <tr> <td>
<div class="fieldset">
  <dl>
      <!-- <dt class="label label-default"><%= model_class.human_attribute_name(:reference_id) %></dt>
      <dd><pre class="lead"><%= @email.reference_id %></pre></dd> -->
      <!-- <dt class="label label-default"><%= model_class.human_attribute_name(:path) %></dt> -->
      <dd><pre class="small">        
        <%=  readfile.html_safe %>
        </pre>
      </dd>
  </dl>
</div>
</td>
  <td>
  </td>
</tr>
</table>


<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              emails_path, :class => 'btn btn-default'  %>  
</div>

