<%- model_class = Email -%>


<!--<table>-->
<!--<tr><td >-->
    <!--<%= button_to " Priviledged ", like_email_path(@email), :class => "btn btn-info"%>-->
<!--</td>-->
<!--<td colspan=2></td>-->
<!--<td>-->
    <!--<%= button_to " Not Priviledged ", dislike_email_path(@email), :class => "btn btn-info "%>-->
<!--</td>-->
<!--<td colspan=10></td>-->
<!--</tr>-->
<!--</table>-->

<div class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

        <table>
            <% if @email.attachments.count > 0 %>
                <% counter = 1 %>
                <% @email.attachments.each do |attachment| %>
                    <tr><td>
                      <%= image_tag "attachment.png", size: "20x20", alt: "attachment" %>
                      <%= link_to attachment_path(attachment), :class => 'btn btn-default' do %>
                          <%= "Attachment-#{counter}" %>
                          <% counter = counter+1 %>
                      <%- end -%>
                    </td>
                    </tr>
                <% end %>
            <% end %>
        </table>

      <div class="container">
          <div class='row'>
              <div class='col-md-8 panel' ></div>
          </div>
      </div>

        <div class="fieldset">
            <div class="email-text">
                <%=  readfile.html_safe %>
            </div>
        </div>
    </div>

    <div class="col-md-4  blog-sidebar">
      <!--<div class="container">-->
        <div class='row'>
          <div class='col-md-8 panel' ></div>
        </div>
      <!--</div>-->
      <div id="sticker">

        <%= data, colors = getHistroy
            #unless colors.count.eql? 0
            unless colors.nil? or colors.count.eql? 0

                line_chart data, min: 0, max: 1,library: {legend: {position: "none"}, colors: colors, title: "History of interactions", vAxis:{title:"Priviledge probability"}, pointSize: 15,  pointShape: { type: 'circle'}}
            end
        %>

          <div class="btn-group-vertical" role="group">
                <div class='row'>
                  <div class='col-md-8 my-panel' ></div>
                </div>
                <%= button_to " Priviledged ", like_email_path(@email), :class => "myButton btn btn-primary"%>


                <div class='row'>
                  <div class='col-md-8 my-panel' ></div>
                </div>
                <%= button_to " Not Priviledged ", dislike_email_path(@email), :class => "myButton btn btn-primary"%>


          </div>
      </div>

    </div>

  </div>
  <div class="form-group">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                emails_path, :class => 'btn btn-default'  %>
  </div>
</div>









